/* Styles for Color Calendar */

body {
	margin : 0;
	padding: 0;
	background: white;
	text-align: center;
	font-family: sans-serif;
}
table {
	width: 600px;
	height: 400px;
	margin: 50px auto;
	border-collapse: collapse;
	background: WhiteSmoke;
}

.days {
	background: #fff;
	width: 100px;
	font: 1em/1em arial;
	color: black;
	text-align: center;

}

#toolbar {
	overflow: hidden;
	background: black;
	color: white;
	padding: 1em;
	font-size: 15px;
}
